html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif,;
    background-color: #f4f4f4;
    color: #333;
    position: relative; /* Necessário para o botão de alternância */
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    background: #333;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 1rem 0;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.main-content {
    margin-left: 250px;
    padding: 2rem;
    flex: 1;
    box-sizing: border-box;
}

section {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    margin-top: auto; /* Garante que o footer fique na parte inferior */
}

.sidebar-toggle {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background: #333;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.sidebar-toggle:hover {
    background: #555;
}
